.asteroidDetails li {
	color:white;
	list-style: none;
}

/* STATE 1 - HIDDEN */
.asteroid-list {
  width: 20%;
  /*display: none;*/				/* on page load, hide asteroid list */
}

/* STATE 2 - VISIBLE */
.asteroid-list.visible {
	display: block;
}

a.btn-primary {
	margin: auto;
    margin-top: 70px;
    width: 40%;
    border-radius: 30px;
    height: 60px;
    line-height: 35px;
    font-size: 25px;
}


.btn-primary{
	background-color:white;
	padding:10px;
	border-radius:10px;
	display:block;
	width:20%;
	text-align:center;
	margin-left:20px;

}

.date-picker{
	margin-bottom:30px;
	background-color:white;
}

.ui-datepicker{
	background-color:white;
}
.asteroids-near-you {
    cursor:pointer;
}
.asteroids-near-you:hover {
    color:white !important;
}
.hasDatepicker {
    font-family:'Montserrat';
    font-size:20px;
    text-indent: 10px;
    font-weight:600;
    color:#0b3d91;
}
label {
    color:white;
    font-family:Montserrat;
}
div.date-picker {

	text-align: center;
    font-family: 'Montserrat';
    font-family: monospace;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 70%;
    margin: auto;
    border-radius: 15px;
    background-color: #0b3d91;
    margin-top:50px;
}

div.asteroid-list {
	margin:auto;
	margin-top:30px;
}