:root {
  --numOfListA: 10;
  --imgW: 140px;
  --imgH: var(--imgW);
  --mBetweenImg: 50px; }

/* ==========================================================================
ERINDS STYLES FOR FACTS.HTML
========================================================================== */
.loading-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center; }
  .loading-container svg {
    width: 200px; }

.st3 {
  position: relative;
  -webkit-animation: mymoveRed 0.5s;
  /* Safari 4.0 - 8.0 */
  animation: mymoveRed 0.5s; }

.st2, .st1 {
  position: relative;
  -webkit-animation: mymove 0.5s;
  /* Safari 4.0 - 8.0 */
  animation: mymove 0.5s; }

@keyframes mymove {
  from {
    transform: translateX(500px); }
  to {
    transform: translateX(0px); } }
@keyframes mymoveRed {
  from {
    transform: translateY(-200px); }
  to {
    transform: translateY(0px); } }
#facts {
  justify-content: center;
  margin-top: 50px; }

#search-input {
  border: none;
  height: 40px;
  border-radius: 15px; }

.card.m-2 {
  height: 100%;
  max-height: 600px;
  min-height: 600px;
  overflow: hidden;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  padding: 10px; }

/* width */
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: #464646; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0b3d91;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px; }

.modal {
  background-color: black; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0b3d91; }

.see-more {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #0b3d91;
  color: white;
  border: none;
  padding: 10px 20px; }

.card-body {
  height: 100%;
  overflow-y: scroll;
  box-sizing: content-box;
  padding-top: 20px; }

.see-more-btn {
  background-color: #0b3d91;
  color: white;
  border-radius: 0px; }

.card-img-top {
  max-height: 250px;
  min-height: 250px; }

.search-bar {
  height: 44px;
  width: 280px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  padding: 0 0 0 20px;
  position: relative;
  background: #fff; }

.input {
  border: none;
  height: 25px;
  width: 150px;
  color: #1b1b1b;
  font-size: 15px;
  outline: none; }

.input:not(:placeholder-shown) + .label {
  font-size: 9px;
  top: 3px;
  color: #F94144; }

.input:focus ~ .label {
  font-size: 9px;
  top: 3px;
  color: #0b3d91;
  transition: all 0.5s ease; }

.label {
  color: #aaaaaa;
  position: absolute;
  top: 13px;
  pointer-events: none;
  transition: all 0.5s ease; }

.search-btn {
  background: #0b3d91;
  border-radius: 20px;
  height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  justify-content: center;
  cursor: pointer;
  right: 2px;
  position: absolute;
  transition: all 1s ease; }

.icon {
  display: inline-flex; }

.icon-18 {
  width: 18px;
  height: 18px; }

.highlight {
  width: 0px;
  height: 1px;
  background: #4279a3;
  position: absolute;
  bottom: 8px;
  transition: all 1s ease; }

.input:focus ~ .highlight {
  width: 150px;
  transition: all 1s ease; }

.container-new {
  margin-top: calc(50vh - 70px);
  overflow: hidden; }

.div {
  background-color: white;
  z-index: 999999999;
  width: 5000px;
  height: 500px; }

.container-slider {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden; }

.title {
  color: black;
  text-align: center;
  z-index: 9999999; }

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-x: hidden; }

@media screen and (min-width: 900px) {
  :root {
    --imgW: 180px; } }
.slider-container {
  display: flex;
  font-size: 0;
  animation: slideshow 30s linear infinite;
  opacity: 0.8; }

.slider-img {
  width: var(--imgW);
  height: var(--imgH); }

.slider-img + .slider-img {
  margin-left: var(--mBetweenImg); }

@keyframes slideshow {
  100% {
    transform: translateX(calc((var(--numOfListA) * var(--imgW) + var(--mBetweenImg) * var(--numOfListA)) * -1)); } }
/* Important styles */
#toggle {
  display: block;
  width: 28px;
  height: 30px;
  margin: 10px 0px 0px 0px; }

#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px; }

#toggle span:after {
  top: 9px; }

#toggle span {
  position: relative;
  display: block; }

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 5px;
  background-color: #0b3d91;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px; }

/* on activation */
#toggle.on span {
  background-color: transparent; }

#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px); }

#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px); }

#toggle.on + #menu {
  opacity: 1;
  visibility: visible; }

@media only screen and (min-width: 1024px) {
  #toggle {
    display: none; } }
/* ==========================================================================
ERINDS STYLES FOR FACTS.HTML
========================================================================== */

/*# sourceMappingURL=facts.css.map */
