/*CSS for Home Page planet slider*/
.planet-slider {
	position: absolute;
	top: -10%;
	left: 0;
	width: 100%;
	z-index: 10;
}

.planet-container {
}

.planet-image {
	width: 60%;
	display: block;
	margin: auto;
}

.planet-container h1 {
	text-align: center;
	color: #fff;
}

.slick-prev, .slick-next {
	opacity: 0;
	background: none;
}

.slick-prev {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 15%;
	z-index: 99;
}

.slick-next {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 15%;
	z-index: 99;
}