/*CSS for Home Page planet slider*/
.planet-slider {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}

.planet-container {
	outline: none;
}

.planet-container h1 {
	text-transform: capitalize;
	opacity: 0;
	transition: 0.55s ease all;
}

.planet-image {
	width: 60%;
	display: block;
	margin: auto;
	cursor: pointer;
	filter: brightness(0.3);
	transform: scale(0.7);
	transition: 0.55s ease all;
}

.planet-image:hover {
	transform: scale(1.03);
}

.slick-current img {
	filter: none;
	transform: scale(1);
}

.slick-current h1 {
	opacity: 1;
}

.planet-container h1 {
	text-align: center;
	color: #fff;
}

.slick-prev, .slick-next {
	opacity: 0;
	background: none;
	cursor: pointer;
}

.slick-prev {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 15%;
	z-index: 99;
}

.slick-next {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 15%;
	z-index: 99;
}